.case-studies {
    margin-top: 50px;
  }
  
  .case-studies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    
  }
  
  .case-study {
    width: 250px;
    height: 150px;
    margin: 5px;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: white;
    border-radius: 17px;
    box-shadow: 0 2px 5px rgba(84, 82, 82, 0.1);
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    background-color: rgb(236, 233, 233);
    border-bottom: 2px solid rgb(150, 150, 150);
  }
  
  .case-study-content {
    margin-bottom: 75px;
  }
  
  .case-study-icon {
    font-size: 12px;
    color: white;
    margin-bottom: 10px;
    border: 2px solid black;
    width: 27px;
    height: 25px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9px;
  }
  
  .case-study-company {
    font-weight: bold;
    font-size: 1.2em;
  }
  .for-everytitle{
    padding-top: 0%;
  }