section.faq-section {
    margin-top: 95px;
    border: 1px solid lightgray;
    background-color: #eeeeee;
    font-family: 'Roboto', sans-serif;
}
.ans-p {
    color: #6d6c6c;
}
li.all-ques {
    border-bottom: 1px solid lightgray;
}li.all-ques {
    border-bottom: 1px solid lightgray;
}