.first-h {
  font-size: 40px;
  padding-left: 20px;
}

.sub-h {
  padding-right: 45px;
  font-size: 12px;
}

.second-h {
  font-size: 17px;
  margin-bottom: 16px;
}

.main-h {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, sans-serif;
}

.h-btn {
  background: black;
  color: whitesmoke;
  border: 2px solid black;
  border-radius: 10px;
  width: 177px;
  height: 45px;
  font-family: Arial, sans-serif;
}

.para {
  color: blue;
  margin-bottom: -18px;
}
